.container {
  background-color: rgb(44, 44, 44);
  min-height: 100vh;
}
.listOfAllModals {
  margin-top: 2rem;
  display: grid;
  justify-items: center;
  gap: 2rem;
}
.truckModul {
  background-color: rgba(91, 91, 89);
  width: 80%;
  height: 9rem;
  border-radius: 6px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding:0.5rem
}
.truckImage{
  
}
.textBox {
  display: grid;
  justify-content: center;
}

.truckTitle {
  color: white;
  margin-top: 1rem;
  text-align: center;
  font-size: 20px;
}
.address {
  color: white;
  width: 4rem;
  font-size: 14px;
  text-align: center;
}
.allTags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: .3rem;
  padding: 0.3rem;
  text-align: center;
}
.tag {
  display: flex;
  color: white;
  font-size: 10px;
  background-color: rgb(200, 49, 35);
  padding: 0.2rem;
  border-radius: 5px;
  height: 1rem;
  width: 2.8rem;
  align-items: center;
  justify-content: center;
}
