.truckForm  {
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    flex-direction: column;   
    height: 100vh;
}
.title {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content:center;
    align-items: center;
}
.form {
    margin-bottom: 1rem;
    /* background-color: rgb(153, 149, 149); */  
    display: grid;
/*     grid-template-rows: 5% 30% 5% 5% 5% 10% 5% 5% 10% 10% ;
 */    grid-row-gap: 0.7rem; 
    width: 65%; 
}

div .form input {
    border-radius: 8px;
    padding-left: 0.5rem;  
}

.selectTagsTitle {
    color: white;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
}

.submitBtn {
    border-radius: 7px;
    background-color: rgb(200, 49, 35);
    color:white;
    margin-top: 1rem;
}